# copy to /usr/local/lib/systemd/system

[Unit]
Description=KITT Power Auto Norm Pursuit Service

[Service]
Environment=PYTHONUNBUFFERED=true
ExecStart=/usr/bin/python3 /usr/local/sbin/panp.py
Restart=no
Type=notify
